<!-- <%# options_for_select(@bands.map {|band| [band.name,band.id]})   %> -->



<!-- add default values -->
<h2> Register </h2>

<label for="user_email">Email</label>
	<input name="user[email]" id="user_email" type="text" value = "<% @user.email %>" >
<br>

<label for="user_password">Create a Password</label>
	<input name="user[password]" id="user_password" type="password" >
<br>

<input type ="submit" value="Submit">



